/* .header{
    background-color: aqua;
    height: 40px;
    width:100%;
    padding:10px;
    float:left;
    border:5px solid black;
} */

.navbar{
    position: fixed ;
    top:10px;
    left:0;
    height: auto;
    padding:0 0 10px 0;
    width: 100vw;
    background: transparent;
    /* background-color: white; */
    border: 0px;
    display:block;
}
.navbar-toggle{
    margin: 5px 80px 0 0;
}
.navbar .navbar-nav li a {
    color: white;    
    font-weight:bold;
}

.container1{
    background-color: black;
    height: 650px;
    width:100%;
    background:url("img/Website-background.png") no-repeat center center/cover ;
}
.container2{
    background-color:#f0eeee;
    height: 650px;
    
    /* background:red ; */
    padding: 0 100px; 
    color: black;
    box-shadow: -1px 2px 10px 3px rgba(0,0,0,.3) inset;
    
}
.navbar .navbar-nav  .active a {
    background-color:#0288d1;
    border-radius: 10%;
    color: white;
    margin: 5px;
}
.video-player
{
    /* background-color: red; */
    top:100px;
    left: 300px;
    display: block;
    position: relative;
   background-color:whitesmoke;
    max-width: calc(100vw); 
    max-height: calc(60vw);
}

.description{
    font-size: 25px;
    margin: 0% 10% 0 10%;
    /* background-color:whitesmoke; */
    text-align: center;
    padding: 5% 15%;
}
.main-container{
    background-color: #f0eeee;
}

.colored-line{
    background: #0288d1 0 0;;
    height: 2px;
    width: 80px;
    display: block;
    margin: auto;
}
.testimonial
{
    width: 70%;
    margin: 30px auto 0;
    font-style: italic;
    font-size: 15px;
}

