/* .header{
    background-color: aqua;
    height: 40px;
    width:100%;
    padding:10px;
    float:left;
    border:5px solid black;
} */
.navbar{
    position: fixed ;
    top:0;
    left:0;
    height: auto;
    padding:0 0 10px 0;
    width: 100vw;
    background: transparent;
    border: 0px;
}

.navbar .navbar-nav li a {
    color: white;    
    font-weight:bold;
}

.container{
    background-color: black;
    height: 650px;
    width:100%;
    background:url("img/Website-background.png") no-repeat center center/cover ;
}

.navbar .navbar-nav li .active{
    border-radius: 50%;
}